git+https://github.com/naya1503/pyrogram
TgCrypto
pytz
pytgcalls==3.0.0.dev24
yt-dlp
youtube-search-python
motor
dnspython
GitPython
pykeyboard
bs4
Pillow
pymediainfo
opencv-python-headless
requests
ffmpeg-python
unidecode
attrify
pyromod==1.1.0
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
wget
telegraph
heroku3
openai
httpx[http2]
uvloop
httpx
python-dotenv
py-extract
psutil
sqlalchemy==1.3.23
psycopg2-binary
ptable